.header {
	padding: 251px 0 143px;
	background: linear-gradient(rgba(90, 90, 90, 0.5), rgba(90, 90, 90, 0.5)), url("../../assets/img/sections-background/section-1.jpg") center / cover no-repeat;
	background-attachment: fixed;
	min-height: 100vh;
	background-blend-mode: lighten;
}


/* header navigation */

.header__nav {
	background: rgba(94, 93, 88, 0.6);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

.nav-header {
	display: flex;
	align-items: center;
	color: #FFFFFF;
	height: 120px;
}

.nav-header__logo {
	display: flex;
	align-items: center;
	gap: 6px;
}

.logo__title {
	font-size: 32px;
	line-height: 48px;
}

.logo__title span {
	font-weight: bold;
	color: var(--colorAccent);
}

.nav-header__list {
	margin-left: auto;
	display: flex;
	height: 100%;
	align-items: center;
}

.nav-header__item {
	display: flex;
	align-items: center;
	margin-right: 21px;
	height: 100%;
	position: relative;
}

.nav-header__item-link {
	display: block;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.6);
	transition: color 0.2s ease-in;
}

.nav-header__item-link:hover {
	color: var(--colorAccent);
}

.nav-header__item-link::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 2px;
	background-color: var(--colorAccent);
	transition: width 0.2s ease-in;
}

.nav-header__item-link:hover::after {
	width: 100%;
}

.nav-header__search {
	display: block;
}

.nav-header__search svg {
	width: 21px;
	height: 20px;
}

.nav-header__search path {
	transition: fill 0.2s ease-in;
}

.nav-header__search:hover path {
	fill: var(--colorAccent);
}


/* header content */

.content-header {
	text-align: center;
	color: #fff;
}

.content-header__heading {
	font-weight: 700;
	font-size: 35px;
	text-transform: uppercase;
	margin-bottom: 22px;
}

.content-header__heading span {
	color: var(--colorAccent);
}

.content-header__subheading {
	font-weight: 700;
	font-size: 78px;
	text-transform: uppercase;
	margin-bottom: 22px;
}

.content-header__text {
	font-size: 34px;
	color: #D4D4D4;
}

.header__buttons {
	margin-top: 122px;
	display: flex;
	justify-content: center;
	gap: 26px;
}