.purchase {
	padding: 126px 0 128px;
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../../assets/img/sections-background/section-2.jpg") center / cover no-repeat;
	text-align: center;
	background-attachment: fixed;
}

.purchase__title {
	font-weight: 700;
	font-size: 40px;
	line-height: 40px;
	text-transform: uppercase;
	color: var(--colorAccent);
	margin-bottom: 12px;
}

.purchase__description {
	font-size: 16px;
	line-height: 40px;
	color: #D8D8D8;
	margin-bottom: 60px;
}