.services {
	text-align: center;
	padding: 90px 0;
}

.services__tabs {
	margin-top: 100px;
}

.services__tabs-nav {
	display: flex;
	justify-content: space-between;
}

.services__tab-title {
	width: 100%;
	padding: 17px 0;
	line-height: 39px;
	color: #717171;
	background: #F8FCFE;
	border: 1px solid #EDEFEF;
	cursor: pointer;

	transition: box-shadow 0.2s;
}

.services__tab-title:hover {
	box-shadow: inset 0 0 0 1.5px var(--colorAccent);
}

.services__tab-title--active {
	position: relative;
	background-color: var(--colorAccent);
	color: #FFFFFF;
}

.services__tab-title--active::after {
	content: "";
	position: absolute;
	bottom: -15px;
	left: 50%;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid var(--colorAccent);

	transform: translateX(-50%);
}

.services__tabs-content {
	margin-top: 25px;
	text-align: left;
}

.service__content {
	display: flex;
	align-items: center;
	gap: 13px;
}

.service__img {
	width: 192px;
	height: 139px;
}

.service__text {
	font-weight: 300;
	font-size: 13.645px;
	line-height: 24px;
	color: #777777;
}