.works {
	padding: 95px 0 100px 0;
	text-align: center;

	background-color: #e9edef;
}

.works__tabs-nav {
	margin-top: 95px;
	margin-left: auto;
	margin-right: auto;
	max-width: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #DADADA;
}

.works__tab-title {
	padding: 14px 15px;
	font-size: 14px;
	line-height: 42px;
	cursor: pointer;
	transition: color .2s;
}

.works__tab-title:first-child {
	padding-left: 30px;
	padding-right: 30px;
}

.works__tab-title:not(:first-child) {
	border-left: 1px solid #DADADA;
}

.works__tab-title:hover {
	z-index: 1;
	border: 2px solid var(--colorAccent);
	color: var(--colorAccent);
	margin: -2px -2px -2px -1px;
}

.works__tab-title:hover:first-child {
	margin: -2px;
}

.works__tab-title--active {
	position: relative;
	color: var(--colorAccent);
}

.works__tab-title--active::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0 0 0 2px var(--colorAccent);
}

.works__holder {
	margin-top: 70px;
	margin-bottom: 70px;
	display: flex;
	flex-wrap: wrap;
}

/* Work cards */

.work__card {
	flex: 0 0 285px;
	height: 208px;
	perspective: 1000px;
	background-color: transparent;

	display: none;
}


.work__card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: transform 0.6s;
}

.work__card:hover .work__card-inner {
	transform: rotateY(180deg);
}

.work__card-front,
.work__card-back {
	position: absolute;
	top: 0;
	left: 0;
	backface-visibility: hidden;
	width: 100%;
	height: 100%;
}

.work__img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.work__card-back {
	border-top: 2px solid var(--colorAccent);
	background-color: #E9EDEF;
	transform: rotateY(180deg);
}

.work__links {
	margin-top: 46px;
}

.work__link {
	display: inline-flex;
	width: 40px;
	height: 40px;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	border: 1px solid var(--colorAccent);
}

.work__link:hover {
	background-color: var(--colorAccent);
}

.work__link:hover path,
.work__link:hover rect {
	fill: white;
}

.work__card-title {
	margin: 23px 0 0 0;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	line-height: 25px;
	color: var(--colorAccent);
}

.work__card-category {
	margin: 0;
	font-weight: 300;
	font-size: 12.1518px;
	line-height: 25px;
	color: #8A8A8A;
}