/* Blocks */
@import 'blocks/header.css';
@import 'blocks/functions.css';
@import 'blocks/services.css';
@import 'blocks/purchase.css';
@import 'blocks/news.css';
@import 'blocks/works.css';
@import 'blocks/what-people-say.css';
@import 'blocks/footer.css';

:root {
	/* Colors */
	--colorAccent: #18CFAB;
	--colorAccentHover: #16bd9b;
	--colorBlue: #00CBF6;
	--colorBlueHover: #00b3d6;
	--colorDarkBlue: #1C2A33;
}


body {
	font-family: "Montserrat", sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

button {
	border: none;
	background: none;
	cursor: pointer;
}

.container {
	max-width: 1180px;
	width: 100%;
	margin: 0 auto;
	padding: 0 10px;
}

.none {
	display: none !important;
}


/* Global */

.section__heading {
	margin: 0;
	display: inline-block;
	font-weight: 400;
	font-size: 36px;
	line-height: 40px;
	color: #4E4E4E;
	position: relative;
}

.section__heading::before,
.section__heading::after {
	content: "";
	position: absolute;
	width: 75px;
	height: 1px;
	background-color: var(--colorAccent);
}

.section__heading::before {
	bottom: -26px;
	left: 45%;
	transform: translateX(-45%);
}

.section__heading::after {
	bottom: -30px;
	left: 50%;
	transform: translateX(-50%);
}

.section__heading--white {
	color: #fff;
}

/* btn */

.btn {
	position: relative;
	display: inline-block;
	min-width: 168px;
	padding: 17px 5px;
	background-color: var(--colorAccent);
	border-radius: 5px;
	font-weight: 700;
	font-size: 15px;
	line-height: 32px;
	text-transform: uppercase;
	transition: background-color 0.2s ease-in;
	text-align: center;
	color: #fff;
}

.btn:hover {
	background-color: var(--colorAccentHover);
}

.btn--decoration {
	box-shadow: 0 -5px 0 #fff;
}

.btn--blue {
	background-color: var(--colorBlue);
}

.btn--blue:hover {
	background-color: var(--colorBlueHover);
}

/* Load more */

.btn--load-more {
	font-size: 14px;
}

.btn--load-more:active {
	background-color: var(--colorAccentHover);
}

.btn--load-more span {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15px;

	transform: opacity .2s;
}

.btn--load-more span::before {
	content: "";
	vertical-align: middle;
	width: 19px;
	height: 19px;
	background-image: url('../assets/btn-load-more-plus.svg');
	background-size: contain;
	background-position: center;
}

.btn--loading span {
	visibility: hidden;
	opacity: 0;
}

.btn--loading::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 30px;
	height: 30px;
	margin: auto;
	border: 4px solid transparent;
	border-top-color: #fff;
	border-radius: 50%;
	animation: btn-loading-spinner 1s ease infinite;
}

@keyframes btn-loading-spinner {
	from {
		transform: rotate(0turn);
	}

	to {
		transform: rotate(1turn);
	}
}